/* Write your CSS here */

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #07080c;
}

.heading {
  font-family: 'Bree Serif';
  font-size: 38px;
  font-weight: 500;
  color: #ffffff;
}

.image {
  width: 40%;
  height: 40%;
}

.speed-text {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 25px;
}

.text-last {
  font-family: 'Roboto';
  font-size: 20px;
  color: #cbd5e1;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-1 {
  background-color: #0b69ff;
  font-family: 'Roboto';
  font-size: 15px;
  width: 100px;
  border-width: 0px;
  border-radius: 8px;
  padding: 5px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  margin-right: 20px;
}

.button-2 {
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 15px;
  width: 100px;
  border: 2px solid #94a3b8;
  border-radius: 8px;
  padding: 5px;
  color: #94a3b8;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 45px;
  }

  .image {
    width: 35%;
    height: 35%;
  }

  .speed-text {
    font-size: 25px;
  }

  .text-last {
    font-size: 20px;
  }

  .button-1 {
    width: 110px;
  }

  .button-2 {
    width: 110px;
  }
}
